  
  .new-device {
    background-color: #c5dfff;
    color: rgb(7, 7, 7);
    border: none;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    width: 100%;
    max-width: 200px;
    align-self: center;
  }
  