/* src/components/nav/Navbar.css */
.sidebar {
    width: 250px; /* Ancho del contenedor */
    height: 100vh; /* Alto para cubrir toda la altura de la vista */
    background-color: #131921;
    margin-left: 10px; /* Separación del borde izquierdo de la página */
    padding-top: 60px; /* Reducido para mover el contenido hacia arriba */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.logo-container {
    display: flex; /* Alinea elementos horizontalmente */
    align-items: center; /* Centra elementos verticalmente */
    justify-content: start; /* Alinea elementos al inicio */
    margin-bottom: 60px; /* Reducido para disminuir el espacio debajo del logo */
}

.logo {
    width: auto; /* O un tamaño específico si lo prefieres */
    height: 35px; /* Altura del logo */
    margin-right: 10px; /* Espacio a la derecha del logo */
}

h2 {
    margin: 0; /* Elimina los márgenes por defecto */
    font-size: 1.5rem; /* Tamaño de la fuente */
    color: #FFFFFF; /* Color del texto */
}

/* Estilos para los botones aquí */


.sidebar-button {
    width: calc(100% - 20px); /* Ajuste para el ancho con padding */
    text-align: left;
    padding: 0px 11px 8px 20px; /* Aumento del padding izquierdo */
    margin-bottom: 20px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.7); /* Texto gris claro para botones no seleccionados */
    border: none; /* Elimina cualquier borde */
    border-radius: 0;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    opacity: 1;
    display: flex;
    align-items: center;
    position: relative; /* Posición relativa para la barra indicadora */
    transition: color 0.3s ease; /* Transición suave para el cambio de color */
    
}

.sidebar-button:hover,
.sidebar-button.active {
    color: #FFFFFF; /* Texto blanco intenso para el botón seleccionado */
}

.sidebar-button.active::before {
    content: '';
    position: absolute;
    left: 0; /* Barra al lado izquierdo */
    top: 0;
    bottom: 0;
    width: 3px; /* Ancho de la barra */
    background-color: #FFFFFF; /* Color de la barra */
}
